img {
    max-width: 100%;
}

.divCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    /* background-color:blueviolet; */
    border: solid 3px rgb(129, 210, 232);
    margin: 15px;

}

.divImg {
    width: 30%;
/*    min-width: 20vw;*/
}

.divText {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color:rgb(129, 210, 232);

}

@media (max-width: 800px) {
    .divCard {
        display: flex;
        flex-direction: column;
    }
    .divImg {
        width: 100%;
    }

    .divText {
        width: 100%;
    }

}